html, body {
    width: 100%;
}

.container {
    width: 960px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.top {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    padding: 0 30px;
}

.top input {
    width: 100%;
    height: 46px;
    text-indent: 18px;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    outline: none;
    background: #f5f5f5;
}

.main {
    flex-grow: 1;
    display: flex;

    border-top: solid 1px #ebebeb;
}

.task-list {
    flex-grow: 1;
    box-sizing: border-box;
}

.task-item {
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    border-bottom: solid 1px #ebebeb;
}

.task-item.active {
    background: #eaffd7;
}

.task-item .title {
    color: #929292;
}

.task-item .date {
    float: right;
    margin-right: 30px;
    color: #a3a6a1;
    font-size: smaller;
}

.task-info {
    flex-basis: 300px;
    box-sizing: border-box;
    border-left: solid 1px #ebebeb;
    padding: 0 30px;
}

.task-info-tab {
    margin-top: 30px;
    text-align: center;
    display: flex;
}

.task-info-tab span {
    flex-grow: 1;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 2px solid #e4e4e4;
    font-weight: bolder;
    font-size: larger;
}

.task-info-tab span.active {
    border-bottom-color: #00bf88;
}

.task-info-item-list {
    margin-top: 20px;
}

.task-info-item {
    margin-bottom: 40px;
}

.task-info-item h4 {
    color: #aeaeae;
    margin-bottom: 0;
}

.task-info-item p {
    margin-top: 10px;
    color: #6c6c6c;
}

.task-info-item .task-status {
    cursor: pointer;
}

.task-info-item .task-desc {
    outline: none;
}

.m-checkbox {
    color: #1f2d3d;
    margin-right: 5px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.m-checkbox,
.m-checkbox-input {
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

.m-checkbox-input {
    outline: none;
    line-height: 1;
    vertical-align: middle;
}

.m-checkbox-inner {
    display: inline-block;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background: #fff;
    z-index: 1;

    -webkit-transition: border-color .15s cubic-bezier(.71,-.46,.29,1.46),background-color .15s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .15s cubic-bezier(.71,-.46,.29,1.46),background-color .15s cubic-bezier(.71,-.46,.29,1.46);
}

.m-checkbox-inner:after {
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    width: 4px;
    left: 5px;
    position: absolute;
    top: 1px;

    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s,-webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.m-checkbox-original {
    // opacity: 0;
    outline: none;
    position: absolute;
    margin-top: 0;
    // left: -999px;
}

.m-checkbox-label {
    font-size: 14px;
    padding-left: 5px;
}

.m-checkbox.is-checked .m-checkbox-inner {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.task-item.active .m-checkbox.is-checked .m-checkbox-inner {
    background-color: #00c18c;
    border-color: #95e8bc;
}

.m-checkbox.is-checked .m-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
}