<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="lib/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="container" ng-controller="todoCtrl">
        <div class="top">
            <input type="text" 
                placeholder="Add task..." 
                ng-model="title"
                ng-keypress="($event.which === 13) ? addTodo(title) : 0">
        </div>
        <div class="main">
            <div class="task-list" 
                ng-cloak>
                <div class="task-item" 
                    ng-repeat="item in todoList"
                    ng-click="selectTodoItem(item)"
                    ng-class="{active: selectedItem.id === item.id}">
                    <div m-checkbox
                        m-checked="isDone(item)"
                        m-click="updateStatus(item)">
                    </div>
                    <span class="title" ng-bind="item.title"></span>
                    <span class="date" ng-bind="item.status"></span>
                </div>
            </div>
            <div class="task-info"
                ng-if="selectedItem != null"
                ng-cloak>
                <div class="task-info-tab">
                    <span class="active">About</span>
                </div>
                <div class="task-info-item-list">
                    <div class="task-info-item">
                        <h4>Description</h4>
                        <p class="task-desc" 
                            contenteditable="true"
                            ng-model="selectedItem.description">
                        </p>
                    </div>
                    <div class="task-info-item">
                        <h4>status</h4>
                        <p>{{selectedItem.status}}</p>
                    </div>
                    <div class="task-info-item">
                        <h4>Created at</h4>
                        <p>{{selectedItem.createTime}}</p>
                    </div>
                    <div class="task-info-item">
                        <h4>Updated at</h4>
                        <p>{{selectedItem.updateTime}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="lib/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
</body>
</html>